<nav class="blue accent-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Angular Ninja</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col l12">
      <h1 class="center-align">{{ homeTitle }}</h1>
    </div>
  </div>
  <a class="waves-effect waves-light btn" (click)="alertMe('Didthiswork?')">Click me!</a>
</div>
