<div class="container">
  <h1 class="center-align">Inventory</h1>
  <form>
    <label>Filter products by name:</label>
    <input type="text" [(ngModel)]="term" name="name" placeholder="e.g. Sunglasses"/>
  </form>

  <table class="striped">
    <thead>
      <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Created by</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products | filter:term">
        <td>{{product.name}}</td>
        <td>{{product.stock}}</td>
        <td>${{product.price}}</td>
        <td>{{product.creator}}</td>
      </tr>
    </tbody>
  </table>
 
  <button (click)="testLog()">Log me...</button>

</div>